:root {
  --primary: #4657f0;
  --background: #ffffff;
  --button-light: #ff9600;
  --button: #ff9600;
  --button-dark: #ff9600;
  --light: #ececec;
  --dark: #303030;
  --touch: #0a0d78;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--button-dark);
  color: white;
}

/* Scrollbar width */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button-dark);
} */

.center {
  text-align: center;
}

.button {
  color: var(--button);
}

.w-full,
.w-100 {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* summary, */
h1,
h2,
h3,
b {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h4,
h5,
h6,
span {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

i,
p,
li,
label,
input,
textarea,
select,
option {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
  list-style: none;
}

option:checked {
  background: var(--background);
}

details {
  border: 3px solid var(--primary);
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3 ease;
}

details:hover {
  background-color: var(--backgrounds);
}

details[open] {
  background-color: var(--background);
}

summary {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  list-style: none;
}

summary::marker {
  content: "";
}

summary::before {
  content: "▸";
  margin-right: 8px;
  transition: 0.2s;
}

details[open] summary::before {
  content: "▾";
}

i {
  color: white;
  font-size: 20px;
  transition: all 0.3s ease;
}

i:hover {
  text-shadow: 0px 0px 15px var(--button-light);
}

.fa-circle-check {
  color: var(--primary);
}

button i {
  color: inherit;
  font-size: 20px;
}

p {
  font-size: 16px;
}

span {
  color: var(--button-dark);
}

input,
textarea,
select {
  background: none;
  border: none;
  width: 100%;
}

input[type="date"] {
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: relative;
}

input[type="radio"],
input[type="range"],
input[type="checkbox"] {
  accent-color: var(--button-dark);
  height: auto !important;
  width: auto !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type="range"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

body {
  font-size: 16px;
  color: var(--dark);
  /* background:
    radial-gradient(
      circle at 20% 8%,
      rgba(0, 179, 255, 0.3) 100px 100px,
      transparent 500px
    ),
    radial-gradient(
      circle at 90% 35%,
      rgba(0, 179, 255, 0.3) 100px 100px,
      transparent 500px
    ),
    radial-gradient(
      circle at 50% 65%,
      rgba(0, 179, 255, 0.3) 100px 100px,
      transparent 500px
    ),
    radial-gradient(
      circle at 15% 94%,
      rgba(0, 179, 255, 0.3) 100px 100px,
      transparent 500px
    ); */
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-shadow: 0px 0px 15px var(--button-light);
}

img {
  width: 100%;
}

hr {
  margin: 20px 0;
}

form {
  width: 100%;
}

.form-error {
  color: red;
}

.form-success {
  color: var(--button-dark);
}

.small {
  font-size: 11.5px;
  font-weight: 500;
}

.flex {
  display: flex;
  display: inline-flex;
  gap: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.flex-col-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 1200px;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    var(--button-dark) 0%,
    var(--button-dark) 30%,
    var(--button) 100%
  );
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: 0px 0px 15px var(--button-light);
}

.btn-hollow {
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background: white;
  color: var(--button);
  border: 3px solid var(--button);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-hollow:hover {
  box-shadow: 0px 0px 15px var(--button-light);
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.hamburger-open,
.hamburger-close {
  display: none;
  position: absolute;
  right: 0;
  top: 1px;
  z-index: 9999;
  margin: 20px;
  transition: transform 0.3s ease;
}

.hamburger-open i,
.hamburger-close i {
  color: var(--button);
}

/* initial hidden state */
.reveal {
  opacity: 0;
  transform: translateY(-60px);
  transition: all 0.6s ease;
}

.reveal-anti {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;
}

/* when visible */
.reveal.active,
.reveal-anti.active {
  opacity: 1;
  transform: translateY(0);
}

/* Navbar  */
.nav {
  width: 100%;
  transition: all 0.3s ease;
}

.nav.active {
  background-color: white;
  box-shadow: 0px 0px 10px var(--primary);
  height: 70px;
}

.nav-inner {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: space-between;
  transition: transform 0.9s ease;
}

.nav-center ul li {
  list-style: none;
  margin-right: 15px;
  font-size: 13px;
}

.nav-center-left {
  background-color: var(--button);
  padding: 11px 11px 10px 10px;
  border-radius: 50%;
}

.nav-end {
  display: none;
}

/* Footer  */
.footer {
  background-color: var(--touch);
  color: white;
}

.footer-form input {
  background-color: white;
  padding: 0 20px;
  border-radius: 5px;
}

.footer-links ul {
  gap: 5px;
}

.footer-links ul li {
  list-style: "▸ ";
  margin-left: 15px;
}

.footer img {
  height: 50px;
  width: auto;
}

.footer-copyright {
  padding: 10px;
}

.footer-copyright p {
  color: var(--touch);
}

.footer-call-button {
  display: none;
}

/* Mobile and Tablets (1023px) */
@media (max-width: 900px) {
  body {
    font-size: 13px;
  }

  p {
    font-size: 14px;
  }

  .container {
    padding: 20px 10px;
  }
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .flex,
  .flex-center,
  .flex-center-center {
    flex-direction: column;
  }

  .btn,
  .btn-hollow {
    width: 100%;
  }

  h1 {
    font-size: 23px;
  }

  .hamburger-open {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  summary {
    font-size: 15px;
  }

  /* Navbar  */
  .nav {
    z-index: 999;
  }
  .nav-inner {
    padding: 20px !important;
    height: 60px;
    overflow: hidden;
    align-items: start;
    justify-content: start;
  }

  .nav-inner .nav-center {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }

  .nav-inner .nav-center li {
    margin-right: 0;
  }

  .nav-center {
    margin: 10px 0;
    font-size: 20px;
  }

  .nav-right {
    align-items: start;
    width: 100%;
    font-size: 20px;
  }

  .nav-left {
    align-items: start;
  }

  .nav-left i {
    font-size: 35px;
    margin-top: 28px;
  }

  .nav-end {
    display: block;
  }

  .extra {
    display: none;
  }

  .timeline::after {
    width: 0px;
  }

  .timeline .left::before,
  .timeline .right::before {
    display: none;
  }

  input,
  textarea,
  select,
  option {
    font-size: 13px;
  }

  .quick-eligiblity,
  .call-btn,
  .whatsapp-btn {
    display: block;
  }

  /* Footer  */
  .footer-form {
    gap: 10px;
  }

  .footer-form input {
    padding: 10px;
  }

  .footer-center {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }

  .footer-center h3 {
    font-size: 16px;
  }

  .footer-certi {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }

  .footer-certi div {
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }

  .footer-links ul li {
    font-size: 14px;
  }

  .footer-call-button {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 5px 30px;
    background-color: var(--button);
    flex-direction: row;
    justify-content: space-between;
    color: white;
    border-radius: 40px 40px 0 0;
  }

  .footer-call-left {
    background-color: rgb(135, 201, 37);
    /* margin: 5px 0; */
    padding: 22px 13px;
    border-radius: 50%;
  }

  .footer-copyright {
    margin-bottom: 70px;
  }

  .footer-call-right {
    gap: 0;    
  }

  .footer-call-right h1 {
    font-size: 28px;
  }
}
